.orderdiv{
    width: 100%; height: 220px; background-color: rgb(28, 28, 28); padding: 5px 10px; border-radius: 10px;
    color: rgba(255, 0, 0, 0.26);
}
.tablediv{
margin-top: 10px;
}
.tabstl{
width: 100%; border-collapse: collapse;
}
.tabstl thead,.tabstl tbody{
    display: block;
}
.tabstl tbody{
    height: 150px; overflow: auto;
}
.tabstl tbody::-webkit-scrollbar {
  display: none;
}
tbody td{
width: 140px; text-align: start; color: white;
padding: 5px 0;
}
thead th{
width: 140px; text-align: start; color: white;
}

tr{
border-bottom: 1px solid rgba(255, 255, 255, 0.158);
}

